*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Segoe UI',sans-serif;
    background:#ffffff;
    color:#111;
}


/* HEADER */

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:25px 7%;
    background:white;
    box-shadow:0 5px 25px rgba(0,0,0,0.08);
}

.logo h1{
    font-size:45px;
    letter-spacing:8px;
    color:#0b3d5c;
}

.logo span{
    font-size:12px;
    letter-spacing:3px;
    color:#777;
}


nav a{
    text-decoration:none;
    color:#222;
    margin-left:25px;
    font-weight:500;
}



/* HERO */

.hero{
    min-height:85vh;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:70px 7%;
    background:
    linear-gradient(120deg,#ffffff,#eaf6ff);
}


.left{
    max-width:550px;
}


.left h1{
    font-size:70px;
    line-height:1;
    color:#082c44;
}


.left p{
    margin:30px 0;
    font-size:22px;
    color:#555;
}


.buttons{
    display:flex;
    flex-wrap:wrap;
    gap:15px;
}


.btn{
    padding:15px 28px;
    border-radius:50px;
    background:#082c44;
    color:white;
    text-decoration:none;
    font-weight:600;
}


.whatsapp{
    background:#25D366;
}



.right img{
    width:380px;
    filter:drop-shadow(0 20px 30px #999);
}



/* SECTIONS */

section{
    padding:80px 7%;
    text-align:center;
}


section h2{
    font-size:42px;
    color:#082c44;
    margin-bottom:25px;
}


section p{
    max-width:800px;
    margin:auto;
    color:#555;
    line-height:1.8;
}



/* PRODUCTS */

.card{
    display:inline-block;
    width:230px;
    margin:20px;
    padding:45px 20px;
    border-radius:20px;
    background:white;
    box-shadow:0 15px 35px rgba(0,0,0,.1);
    font-size:24px;
    font-weight:bold;
    color:#082c44;
}



footer{
    background:#082c44;
    color:white;
    text-align:center;
    padding:25px;
}



@media(max-width:768px){

header{
    flex-direction:column;
}

nav{
    margin-top:20px;
}

.hero{
    flex-direction:column;
    text-align:center;
}

.left h1{
    font-size:45px;
}

.right img{
    width:260px;
    margin-top:40px;
}

}