*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f8f9fb;
    color:#111;
}

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:25px 8%;
    background:#ffffff;
    box-shadow:0 5px 20px rgba(0,0,0,0.08);
}

.logo h1{
    font-size:42px;
    letter-spacing:4px;
    color:#111;
}

.logo p{
    color:#777;
    font-size:14px;
}

nav a{
    text-decoration:none;
    color:#222;
    margin-left:25px;
    font-weight:600;
}

.hero{
    min-height:85vh;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:60px 8%;
    background:linear-gradient(120deg,#ffffff,#eaf6ff);
}

.left{
    width:50%;
}

.left h1{
    font-size:55px;
    line-height:1.1;
    margin-bottom:20px;
}

.left p{
    font-size:22px;
    color:#555;
    margin-bottom:35px;
}

.btn{
    display:inline-block;
    padding:14px 30px;
    margin-right:10px;
    border-radius:40px;
    background:#111;
    color:white;
    text-decoration:none;
    font-weight:bold;
}

.whatsapp{
    background:#159b45;
}

.right img{
    width:320px;
    filter:drop-shadow(0 20px 30px rgba(0,0,0,.2));
}

section{
    padding:70px 8%;
    text-align:center;
}

section h2{
    font-size:40px;
    margin-bottom:25px;
}

section p{
    max-width:800px;
    margin:auto;
    font-size:18px;
    line-height:1.7;
    color:#555;
}

.card{
    display:inline-block;
    margin:20px;
    padding:40px 50px;
    background:white;
    border-radius:20px;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
    font-size:22px;
    font-weight:bold;
}

footer{
    background:#111;
    color:white;
    text-align:center;
    padding:25px;
}


@media(max-width:768px){

header{
    flex-direction:column;
}

nav{
    margin-top:20px;
}

.hero{
    flex-direction:column;
    text-align:center;
}

.left{
    width:100%;
}

.left h1{
    font-size:38px;
}

.right img{
    margin-top:40px;
    width:250px;
}

}